body{
  font-family: Arial;
  background:#f4f4f4;
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
}

.container{
  background:white;
  padding:30px;
  border-radius:10px;
  box-shadow:0 5px 10px rgba(0,0,0,0.1);
  text-align:center;
}

input{
  padding:10px;
  width:200px;
  border-radius: 32px;
  border: 1px solid black;
}

button{
  padding:10px 15px;
  margin-left:10px;
  cursor:pointer;
  border-radius: 32px;
  border: none;
  background-color: skyblue;
}

#weatherResult{
  margin-top:20px;
  font-size:18px;
}