@import 'tailwindcss';

@theme {
  /*background*/
  --color-background: #020617;
  --color-surface: #0F172A;
  --color-card: #1E293B;

  /* Primary */
  --color-primary: #38BDF8;
  --color-primary-hover: #0EA5E9;

  /* Accent */
  --color-accent: #8B5CF6;

  /* Text */
  --color-heading: #F8FAFC;
  --color-text: #CBD5E1;
  --color-muted: #94A3B8;

  /* Borders */
  --color-border: #334155;

  /* Status */
  --color-success: #22C55E;
  --color-warning: #F59E0B;
  --color-danger: #EF4444;
}